@import "{}/client/imports/bootstrap/bootstrap.less";

.tour-badge {
  margin-top: 40px;
  img {
    width: 70px;
    float: left;
    margin-right: 20px;
  }
}

.step {
  position: relative;
}

.left {
  width: 66%;
  position:absolute;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.right {
  width: 34%;
  right: 0;
  position:absolute;
  padding: 10px;
  height: 100%;
  overflow-y: auto;

}

.code-snippet {
  overflow-x: auto;
  position: relative;
  padding: 9px 3px 3px 0;
  background: #f8f8f8;

  /* I am not good enough at CSS to achieve the scrolling behavior I want
  without dirty tricks... */
  .inside-scroll-container {
    display: inline-block;
    min-width: 100%;
    overflow: hidden;
  }

  pre {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &.added {
      background: #eaffea;
    }
  }

  .line-highlight {
    background-color: rgb(248, 238, 199);
  }

  .line-content {
    padding-left: 36px;
    overflow: hidden;

    .hljs-comment {
      color: #777;
    }
  }

  .line-numbers {
    text-align: right;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position: absolute;
    width: 25px;

    .line-number {
      color: #aaa;
      font-style: italic;
    }
  }
}
