{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "Package": true,
    "$": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {"singleQuote": true, "trailingComma": "es5", "printWidth": 100 }],
    "react/prop-types": 0,
    "react/no-direct-mutation-state": 0,
    "react/no-find-dom-node": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "varsIgnorePattern": "^_" }]
  }
}
